<div *ngIf="recipe">
    <div class="row">
        <div class="col-xs-12">
            <img src={{recipe.imagePath}} alt="" class="img-responsive" style="max-height: 200px;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1> {{recipe.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div appDropdown class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe <span
                        class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li (click)="addToShopping()"><a class="pointer" >To shopping list</a></li>
                    <li routerLink="edit"><a class="pointer">Edit Recipe</a></li>
                    <li (click)="onDelete()" > <a  class="pointer">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{recipe.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of recipe.ingredients">
                    {{ingredient.name}}  - ({{ingredient.amount}})
                </li>  
            </ul>
        </div>
    </div>
</div>